body {
    background-color: #E8A2C8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    /* display: grid;
    gap: 120px; */
    margin-bottom: 80px;
}
.header{
    margin-bottom: 120px;
}
.header .logo {
    width: 337px;
    height: 195px;
    color:#3D4DB7 ;
}

.buttons {
    /* margin-top: 20px; */
    margin-bottom: 110px;
}

.button {
    display: block;
    background-color: #F1EBDA;
    color: #3D4DB7;
    text-decoration: none;
    padding: 15px 45px;
    margin: 10px ;
    border-radius: 25px;
    font-size: 1.4em;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #3D4DB7;
    color: #fff;
}

/* .ifood {
    background-color: #3D4DB7;
    color: #fff;
} */

.footer {
    background-image: url(./img/Frame\ 1.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Media Query para telas menores (tablets e smartphones) */
@media (max-width: 800px) {
 
    .header{
        margin-bottom: 60px;
    }
    .header .logo {
        width: 250px;
        height: auto; /* Ajusta a altura proporcionalmente */
    }

    .button {
        padding: 10px 40px;
        font-size: 1em;
        max-width: 180px;
    }
    .footer{
        background-size: auto;
        height: 120px;
    }
}

/* Media Query para telas bem pequenas (smartphones) */
@media (max-width: 480px) {
    .header .logo {
        width: 200px;
        height: auto;
    }

    .button {
        padding: 8px 15px;
        font-size: 0.9em;
        max-width: 150px;
    }
}